/************************************************************************************
GENERAL
*************************************************************************************/
body { font-family: Arial, Helvetica, sans-serif; color: #666; padding: 0px; margin: 0px; font-size: 13px; }
a { text-decoration: none; color: #39C; }
h1, h2 { line-height: 120%; margin: 0 0 10px; color: #000; }
header { content: " "; display: table; width: 100%; }
/************************************************************************************
STRUCTURE
*************************************************************************************/
.container { width: 960px; margin: 0 auto; }
#pagewrap { width: 90%; max-width: 100%; margin: 0 auto; background-color: #FDFDFD; border: 1px solid #ECEBEB; padding: 1%; }
#container-fluid { background-color: #ECEBEB; height: 35px; }
#content { clear: both; border-top: solid 1px #ccc; padding-top: 20px; margin: 20px 0; }
/************************************************************************************
NAV
*************************************************************************************/
#nav-wrap { }
/* menu icon */
#menu-icon { display: none; /* hide menu icon initially */ }
#nav, #nav li { margin: 0; padding: 0; }
#nav li { list-style: none; float: left; }
/* nav link */
#nav a { padding: 11px 15px; display: block; color: #224D61; border-right: 1px solid #E0E0E0; text-transform: uppercase; font-size: 12px; }
#nav a:hover { background: #224D61; color: #fff; }
/* nav dropdown */
#nav ul { background: #ECEBEB; padding: 2px; position: absolute; border: solid 1px #ccc; display: none; /* hide dropdown */ width: 200px; }
#nav ul li { float: none; margin: 0; padding: 0; }
#nav li:hover > ul { display: block; /* show dropdown on hover */ }

/************************************************************************************
MOBILE
*************************************************************************************/
@media screen and (max-width: 600px) {
	.form-wrapper table td
	{
		width:100% !important;
		display:table;
	}
	.form-wrapper table td input {
    width: 100% !important;
    float: left !important;
}
.form-wrapper table td select {
    width: 100% !important;
    float: left !important;
}
	#submit {
    width: 100%;
	}
	.container
{
	width:100%;
}
/* nav-wrap */
#nav-wrap { position: relative; }
/* menu icon */
#menu-icon { color: #000; width: 100%; height: 30px; background: #ecebeb url(../images/menu-icon.png) no-repeat 10px center; padding: 8px 10px 0 42px; cursor: pointer; border: solid 1px #666; display: block; /* show menu icon */ }
#menu-icon:hover { background-color: #f8f8f8; }
#menu-icon.active { background-color: #bbb; }
/* main nav */
#nav { clear: both; position: absolute; top: 38px; width: 100%; z-index: 10000; padding: 5px; background: #f8f8f8; border: solid 1px #999; display: none; /* visibility will be toggled with jquery */ }
#nav li { clear: both; float: none; margin: 5px 0 5px 10px; }
#nav a, #nav ul a { font: inherit; background: none; display: inline; padding: 0; color: #666; border: none; }
#nav a:hover, #nav ul a:hover { background: none; color: #000; }
/* dropdown */
#nav ul { width: auto; position: static; display: block; border: none; background: inherit; }
#nav ul li { margin: 3px 0 3px 15px; }
}
 @media screen and (min-width: 600px) {
/* ensure #nav is visible on desktop version */
#nav { display: block !important; }
}
.logo-wrapper { background-color: #224d61; width: 100%; padding: 10px 0px; text-align: center; }
.main-content h3 { text-align: center; line-height: 23px; color: #224D61; font-size: 18px; }
.main-content span { font-weight: 100; }
.heading { text-align: center; margin-bottom: 45px; font-size: 19px; }
.form-wrapper table td input { width: 68%; padding: 5px; border: 1px solid #CACACA; margin: 5px 0px; }
.form-wrapper table td select { color: #676666; font-size: 12px; width: 70.4%; padding: 5px; border: 1px solid #CACACA; margin: 5px 0px; }
.main-content { width: 80%; margin: 0 auto; }
#submit { width: 16%; margin: 0 auto; border-radius: 5px; padding: 10px 0px; float: none; margin-top: 32px; font-size: 15px; text-transform: uppercase; background-color: #224D61; color: #fff; }
