<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="20" mode="InProc"/>
    <httpRuntime maxRequestLength="1048576"/>
    <customErrors mode="Off"/>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>-->
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </buildProviders>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <connectionStrings>
    <!--bseb Marks Entry Inter Local DB-->
    <!--<add name="demo" connectionString="Server=localhost;database=BSEB2022_INTER2;UID=sa;Pwd=1234;" providerName="System.Data.SqlClient"/>-->
    <!--bseb Marks Entry Inter Old-->
    <!--<add name="demo" connectionString="Server=35.154.78.52;database=BSEB2022_INTER;UID=hbse;Pwd=irc@2016!@#;" providerName="System.Data.SqlClient" />-->
    <!--bseb Marks Entry Inter 2024-->
    <!--<add name="demo" connectionString="Server=35.154.78.52;database=BsebIrcResult12;UID=hbse;Pwd=irc@2016!@#;Connect Timeout=500; Max Pool Size=9000; Min Pool Size=10" providerName="System.Data.SqlClient"/>-->
	  <add name="demo"
connectionString="Server=115.243.18.53,1440;Database=BSEB-RESULT-2025;User Id=anuja;Password=qL120&amp;btDqUI;Integrated Security=False;Connect Timeout=500;  Max Pool Size=9000; Min Pool Size=10"
providerName="System.Data.SqlClient" />
    <!--<add name="demo" connectionString="Server=35.154.78.52;database=BsebMarksEntry_InterFeb2025;UID=hbse;Pwd=irc@2016!@#;" providerName="System.Data.SqlClient"/>-->
    <!--<add name="demo" connectionString="Server=bseb.cqp0rwbj4prc.ap-south-1.rds.amazonaws.com;database=BsebMarksEntry_InterFeb2025;UID=admin;Pwd=Bseb2025CharuOFSC;Connect Timeout=500; Max Pool Size=9000; Min Pool Size=10" providerName="System.Data.SqlClient"/>-->
    <!--HOST:-bseb.cqp0rwbj4prc.ap-south-1.rds.amazonaws.com
    USERNAME:-admin
    PASSWORD:-Bseb2025CharuOFSC-->

    <!--bseb-->
    <!--<add name="demo1" connectionString="Server=13.126.136.58;database=bseb;UID=hbse;Pwd=irc@2016!@#;Connect Timeout=500; Max Pool Size=9000; Min Pool Size=10" providerName="System.Data.SqlClient"/>-->
    <!--mobile app con-->
    <!--<add name="demo2" connectionString="Server=13.126.136.58;database=BSEB_EXAMAPP;UID=hbse;Pwd=irc@2016!@#;Connect Timeout=500; Max Pool Size=9000; Min Pool Size=10" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    <add key="LoginHeading" value="उच्च माध्यमिक परीक्षा - 2025"/>
    <add key="ExcelReportHeading" value="Inter2025"/>
    <add key="FileUploadTag" value="Inter"/>
    <add key="AWSAccessKey" value="AKIAJ2W3TD2EWY53ODAQ"/>
    <add key="AWSSecretKey" value="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"/>
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    </handlers>
  </system.webServer>
</configuration>