vti_encoding:SR|utf8-nl
vti_author:SR|WIN-Q2OMGB66C3C\\Administrator
vti_modifiedby:SR|WIN-Q2OMGB66C3C\\Administrator
vti_timelastmodified:TR|02 Jul 2018 05:43:21 -0000
vti_timecreated:TR|03 Feb 2017 11:36:37 -0000
vti_extenderversion:SR|5.0.2.7003
vti_lineageid:SR|{17D9B87D-2075-4E2D-ABA4-FE152DB3B53E}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|16 Mar 2018 13:18:33 -0000
vti_cacheddtm:TX|03 Feb 2017 11:36:37 -0000
vti_filesize:IR|4305
vti_cachedlinkinfo:VX|S|../images/menu-icon.png
vti_cachedsvcrellinks:VX|NSUS|demo/subjectivemarks2019/images/menu-icon.png
