vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Feb 2022 11:17:37 -0000
vti_extenderversion:SR|5.0.2.7003
vti_lineageid:SR|{AC0058C1-DC0A-4D0D-A796-F15CFA220061}
vti_backlinkinfo:VX|
vti_author:SR|WIN-Q2OMGB66C3C\\Administrator
vti_nexttolasttimemodified:TW|14 Feb 2022 11:17:06 -0000
vti_timecreated:TR|27 Feb 2019 14:08:06 -0000
vti_modifiedby:SR|EC2AMAZ-VPH20S9\\Administrator
vti_cacheddtm:TX|14 Feb 2022 11:17:37 -0000
vti_filesize:IR|2650
